@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;800&display=swap');

$font-family: 'Outfit', sans-serif;
$text-color : #F7F7F7;
$white-color : #F7F7F7;
$font-color: #1E1E1E;
$gray-color: #151515;